{% extends 'base.html.twig' %}

{% block title %}Profil index
{% endblock %}

{% block body %}
	<a class="ms-5 d-flex gap-3 text-decoration-none" href="{{ path('admin_home') }}">
		<i class="bi bi-arrow-left fs-1"></i>
		<div class="d-flex align-self-center">
			<p class="arrowT m-0 fs-5">Retour à l'accueil</p>
		</div>
	</a>
	<h1 class="text-primary">Profil index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Description</th>
				<th>Lien du projet</th>
				<th>Image</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>{{ project.title }}</td>
					<td>{{ project.description }}</td>
					<td>{{ project.link }}</td>
					<td>{{ project.imageFile }}</td>
					<td>
						<div>
							<a href="{{ path('admin_project_edit', {'id': project.id}) }}">edit</a>
							{{ include('admin/admin_project/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('admin_project_add') }}">Create new</a>
{% endblock %}
